{% extends "model-page.html" %}

{% block content %}
<h3>Estacionamento</h3>
<h2>{{ estacionamento.nome }}</h2>

{% if vagas %}
<table>
	<thead>
		<th>#</th>
		<th>Vaga</th>
		<th>Veiculo</th>
		<th>Ocupada</th>
	</thead>
{% for i,vaga in vagas %}
	<tr>
		<td>{{ i }}</td>
		<td>{{ vaga.nome }}</td>
		<td>
		{{ vaga.veiculo.nome }}</td>
		<td>
			{% if vaga.ocupada  %}
				Sim
			{% else %}
				Não
			{% endif %}
		</td>
		<td>
			<a href="{% url 'liberar_vaga' vaga.id %}"><button>Liberar</button></a>
		</td>
	</tr>

{% endfor %}
</table>
{% endif %}

{% endblock %}
