{% extends "model-page.html" %}

{% block content %}
<h2>Monitor</h2>
<br><hr><br>
<div align="center">
	<form action="." method="POST">
		{% csrf_token %}
		<input type="text" name="busca_veiculo" size="40" placeholder="Digite o nome do veiculo">
		<input type="submit" name="buscar" value="Buscar">
	</form>
	{% if veiculo  %}
	<table>
		<tr>
			<td>{{ veiculo }}</td>
			<td>{{ vaga }}</td>
			{% if vaga == '--' %}
				<td><a href="{% url 'selecionar_veiculo' veiculo.id %}">Ocupar</a>/ Liberar</td>
			{% else %}
				<td>Ocupar/<a href="{% url 'liberar_vaga' vaga.id %}">Liberar</a></td>
			{% endif %}
			
		</tr>
	</table>
	{% elif vazio %}
		{{ vazio }}
	{% endif%}
</div>
<br><hr><br>
<div align="center">
	<h4>Estacionamentos</h4>
	{% if estacionamentos %}
		{% for item in estacionamentos %}
			<tr>
				<td>{{ item.nome }}</td>
				<td><a href="{% url 'index_estacionamento' item.id %}"><button>Ver</button></a><br></td>
			</tr>
		{% endfor %}
	{% endif %}
	<a href="{% url 'new_estacionamento' %}">Novo</a>
	

</div>
{% endblock %}
